@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

/* font-family: 'Roboto', sans-serif; */

* {
    padding: 0;
    margin: 0;
}
.section1 {
    max-width: 1920px;
    margin: auto;
    float: none;
}
.section1_left , .section1_right {
    display: inline-block;
    width: 27%;
    float: left;
    vertical-align: top;
}
.section1_center {
    display: inline-block;
    width: 46%;
    float: left;
    vertical-align: top;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
}
.section1::after , .section2_content::after , .section2_post_content::after , .section2_right_post a::after {
    content: "";
    clear: both;
    display: block;
}
.section1_bg {
    position: relative;
}
.section1_bg_left {
    position: absolute;
    width: 44%;
    height: 100%;
    background: #ffc0cb;
    top: 0;
    left:0;
    z-index: -1;
}
.section1_bg_right {
    position: absolute;
    width: 56%;
    height: 100%;
    background: #f8f8f8;
    top: 0;
    right: 0;
    z-index: -1;
}
.section1_left {
    padding-top: 144px;
    padding-bottom: 72px;
    box-sizing: border-box;
}
.section1_right {
    padding: 228px 60px 20px 0;
    box-sizing: border-box;
    text-align: right;
}
.section1_title {
    font-family: 'Roboto', sans-serif;
    font-size: 110px;
    font-weight: 900;
    color: #4d4f54;
    padding-top: 235px;
}
.section1_text {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #4d4f54;
    line-height: 36px;
    padding-top: 7px;
}
.section1_left img , .section1_right_post img , .section2_right_post_img img {
    display: block;
    max-width: 100%;
}
.section1_right_post {
    display: inline-block;
    text-align: left;
}
.section1_right_post_cta {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: #272727;
    text-decoration: none;
    padding: 14px 36px 16px 36px;
    display: inline-block;
    margin-top: 34px;
    position: relative;
    margin-left: 33px;
}
.cta_green {
    background: #5effa3;
    width: 48px;
    height: 48px;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    border-radius: 50%;
}
.cta_text {
    position: relative;
}
.section2_bg {
    background: linear-gradient(#ffffff, #f7f7f7);
}
.section2 {
    max-width: 1920px;
    margin: auto;
    float: none;
    padding: 0 60px;
}
.section2_title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #262626;
    padding-top: 67px;
    padding-bottom: 39px;
}
.section2_left , .section2_right , .section2_post_title , .section2_post_text {
    display: inline-block;
    width: 50%;
    float: left;
    vertical-align: top;
}
.section2_left {
    padding-right: 7.3%;
    box-sizing: border-box;
}
.section2_right {
    padding-left: 7.5%;
    box-sizing: border-box;
}
.section2_post img {
    max-width: 100%;
    width: 100%;
}
.section2_post_title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #3d302f;
    padding: 27px 10px 0 0;
    box-sizing: border-box;
}
.section2_post_text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #3d302f;
    padding-top: 29px;
}
.section2_post_cta {
    text-align: right;
    margin-top: 90px;
    margin-bottom: 20px;
}
.section2_post_cta a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: #272727;
    text-decoration: none;
    padding: 14px 36px 16px 36px;
    display: inline-block;
    position: relative;
}
.section2_right_posts {
    list-style-type: none;
}
.section2_right_post a {
    text-decoration: none;
}

.section2_right_post_img {
    display: inline-block;
    width: 40%;
    float: left;
    vertical-align: top;
}

.section2_right_post_content {
    display: inline-block;
    width: 60%;
    float: left;
    vertical-align: top;
    padding-left: 35px;
    box-sizing: border-box;
}
.section2_right_post_title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: #272727;
    padding-top: 11px;
}
.section2_right_post_text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #272727;
    padding-top: 11px;
}
.section2_right_post_cta {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #878484;
    padding-top: 46px;
    padding-bottom: 5px;
}
.section2_right_post {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 24px;
    margin-bottom: 21px;
}

.section2_right_posts li:last-child {
    border-bottom: none;
}

@media(max-width: 1200px) {
.section1_title {
    font-size: 100px;
}
.section2_right_post_cta {
    padding-top: 20px;
}
.section2_right {
    padding-left: 2.5%;
}
.section2_left {
    padding-right: 2.5%;
}
}

@media(max-width: 1024px) {
.section1_left {
    padding-top: 50px;
    padding-bottom: 50px;
}
.section1_title {
    font-size: 50px;
    padding-top: 80px;
}
.section1_text {
    font-size: 20px;
}
.section1_right {
    padding: 50px 20px 20px 0;
}
.section2_title {
    font-size: 28px;
    padding-top: 40px;
    padding-bottom: 30px;
}
.section2_right_post_title {
    padding-top: 0px;
}
.section2_right_post_text {
    font-size: 14px;
    padding-top: 7px;
}
.section2_right_post_cta {
    padding-top: 15px;
}

.section2_right_post_content {
    padding-left: 15px;
}
.section2_post_cta {
    margin-top: 40px;
}
.section2_post_text {
    font-size: 14px;
}
}

@media(max-width: 767px) {
.section1_left, .section1_right {
    width: 100%;
}
.section1_left {
    padding-top: 20px;
    padding-bottom: 0px;
}
.section1_left img {
    margin: auto;
}
.section1_center {
    width: 100%;
}
.section1_title {
    padding-top: 50px;
}
.section1_right {
    padding: 50px 20px 20px 20px;
    text-align: center;
}
.section2 {
    padding: 0 20px;
}
.section2_title {
    font-size: 24px;
    padding-top: 30px;
}
.section2_left, .section2_right, .section2_post_title, .section2_post_text {
    width: 100%;
}
.section2_post_text {
    padding-top: 20px;
}
.section2_post_cta {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: left;
}
.section2_right_post_title {
    font-size: 16px;
}
.section2_right_post_content {
    width: 100%;
    padding-left: 0;
    padding-top: 20px;
}
.section2_right_post_img {
    width: 100%;
}
}
